<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TilTopps Kalkulator</title>
    <link rel="stylesheet" href="css/index.css" />
</head>
<body>
    <h1 id="head-text">TilTopps Kalkulator</h1>
    <div id="input-container">
        <input id="in1" type="number"
       min="1" max="6" class="number">
       <input id="in2" type="number"
       min="1" max="6" class="number">
       <input id="in3" type="number"
       min="1" max="6" class="number">
       <input id="in4" type="number"
       min="1" max="6" class="number">
       <input id="in5" type="number"
       min="1" max="6" class="number">
       <div class="break"></div>
       <button onclick="submit();" class="run">Regn ut!</button>
    </div>
    <div id="answers" class="hidden">
        
    </div>

    <script src="js/index.js"></script>
</body>
</html>